<div class="row" *ngIf="producto == 'destacado'; else noDest">
    <div class="col-sm-4 mb-4" *ngFor="let producto of listaProdDest">
        <div class="card" style="width: 18rem;">
            <p class="d-flex justify-content-end fw-bold">{{producto.price}}</p>
            <img src="{{producto.imageUrl}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h4 class="card-title">{{producto.title}}</h4>
                <a href="" class="btn btn-primary" (click)="emitDetalle(producto, $event)">Ver producto</a>
            </div>
        </div>
    </div>
</div>

<ng-template #noDest>
    <div class="row">
        <div class="col-sm-4 mb-4" *ngFor="let producto of listaProdSub">
            <div class="card" style="width: 18rem;">
                <p class="d-flex justify-content-end fw-bold">{{producto.price}}</p>
                <img src="{{producto.imageUrl}}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h4 class="card-title">{{producto.title}}</h4>
                    <a href="" class="btn btn-primary" (click)="emitDetalle(producto, $event)">Ver producto</a>
                </div>
            </div>
        </div>
    </div>
</ng-template>